<form [ngFormModel]="form" (ngSubmit)="resetPassword()">
    <div class="form-group">
        <label for="currentPassword">Current password</label>
        <input type="password" id="currentPassword" #currentPassword="ngForm" class="form-control" ngControl="currentPassword">
        <div *ngIf="currentPassword.touched && currentPassword.errors">
            <div class="alert alert-danger" *ngIf="currentPassword.errors.required">current password is required.</div>
            <div class="alert alert-danger" *ngIf="currentPassword.errors.invalidPassword">wrong password.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" id="newPassword" #newPassword="ngForm" class="form-control" ngControl="newPassword">
        <div *ngIf="newPassword.touched && newPassword.errors">
            <!-- <div class="alert alert-danger" *ngIf="newPassword.errors.required">new password is required.</div> -->
            <div class="alert alert-danger">
                <ul>
                    <li *ngIf="newPassword.errors.required">
                        new password is required.
                    </li>
                    <li *ngIf="newPassword.errors.minlength">
                        new password minimum lingth {{newPassword.errors.minlength.requiredLength}}.
                    </li>
                    <li *ngIf="newPassword.errors.passwordShouldContainsNumbers">
                        please have one number at least in your password.
                    </li>
                </ul>
            </div>
            <!-- <div class="alert alert-danger" *ngIf="newPassword.errors.minlength">new password minimum lingth 6.</div>
            <div class="alert alert-danger" *ngIf="newPassword.errors.passwordShouldContainsNumbers">please have one number at least in your password.</div> -->
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" #confirmPassword="ngForm" class="form-control" ngControl="confirmPassword">
        <div *ngIf="confirmPassword.touched && confirmPassword.errors">
            <div class="alert alert-danger" *ngIf="confirmPassword.errors.required">confirm password is required.</div>
            <div class="alert alert-danger" *ngIf="confirmPassword.errors.minlength"></div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Reset</button>
</form>
